.Services {
  display: flex;
  justify-content: right;
  direction: rtl;
  gap: 20px;
  list-style: none;
  max-width: 700px;
  margin: 10px auto;
}
.Services_li img {
  height: 70px;
  width: 70px;
  border-radius: 12px;
  padding: 3px;
  /* border: solid red 2px; */
}

.Services_li {
  width: 70px;
  height: 87px;
}
.Services_li h6 {
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activeImage {
  border: solid red 2px;
}
