.Ubasket {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #f54c40;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease;
  height: 3.8rem;
  width: 3.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.expanded {
  min-width: 21.875rem;
  min-height: 18.75rem;
  background-color: #2d2d2d;
}

.basketIcon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketContent {
  padding: 0.625rem;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.625rem;
}

.foodItem {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
}

.foodName {
  font-size: 18px;
  font-weight: bold;
}

.foodPrice {
  font-size: 16px;
  color: #fbfbfb;
}

.total {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: auto;
}
.paymentButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.deleteButton {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
